/*
 * Styles for the Subscribe2 Widget Pro options panel
 */

/*----------------------------------------
Misc
-------------------------------------------*/

.update-link { position: absolute; top: 17px; left: 505px; }

.new-window { background: url('../images/new-window-icon.png') no-repeat right 3px transparent; padding-right:13px;  }

/*----------------------------------------
Header
-------------------------------------------*/

#s2w-title-wrap { position: relative; }

#icon-s2w { background: url('../images/subscribe2-widget-icon.png') no-repeat center center transparent; float: left; width: 36px; height: 45px; margin-right: 12px; }

#icon-s2w + h2 { line-height: 30px; }

/*----------------------------------------
Layout
-------------------------------------------*/

.new-window { background: url('../images/new-window-icon.png') no-repeat right 3px transparent; padding-right:13px;  }

.premium-label { position: absolute; top: 16px; left: 370px; }

.notice { font-weight: bold; font-size: 18px; color: green; }

.control-label { clear: left; display: inline-block; vertical-align: top; font-weight: bold; }

#subscribe2-widget-options .control-label { width: 300px; }

.google-plus { margin-left:20px; display:inline; }

/* Control Groups */

#subscribe2-widget-options .control-group { border-bottom: 1px solid rgb(221, 221, 221);  }

#s2w-widget-pro-premium .control-group { margin:0 0 10px; }

#subscribe2-widget-options .control-group:last-of-type { border-bottom: none; }

/* Control Labels */

.control-label label span { font-weight: normal; }

#subscribe2-widget-options .control-label label { margin:1em 0; display: block }

#subscribe2-widget-options .controls input { margin:1em 0; display: block }

#subscribe2-widget-options .controls input[type="checkbox"] { position: relative; top:2px; }

.controls { display: inline-block; }

.help-block { color: #999; font-size: 85%; margin-top: 2px; }

.label { padding: 2px 4px 3px; font-size: 85%; font-weight: bold; color: #fff; text-shadow: 0 -1px 0 rgba(0, 0, 0, .25); background-color: #999; -webkit-border-radius: 3px; -moz-border-radius: 3px; border-radius: 3px; }

/*----------------------------------------
 Premium License Metabox
 ----------------------------------------*/

#s2w-widget-pro-premium .code, #s2w-widget-pro-premium .wrap #icon-options-general, #icon-options-general + h2 { display: none !important; }

#s2w-widget-pro-premium .wrap p:first-of-type::after { content: ' http://wordimpress.com'; }

#s2w-widget-pro-premium .controls { width: 98%; }

#s2w-widget-pro-premium input[type="text"] { width: 98%; }

/*----------------------------------------
 Sidebar Sortables
 ----------------------------------------*/

#sidebar-sortables .postbox { min-width:auto; }

/*----------------------------------------
Alerts
-------------------------------------------*/

.alert {
    padding: 8px 14px;
    color: #c09853;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
}

.alert p { margin: 0; }

.alert-red {
    color: #B94A48;
    background-color: #F2DEDE;
    border-color: #EED3D7;
}

.alert-red a { color: #B94A48 !important; }

.alert-success {
    color: #468847;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
}

.alert-info {
    color: #3A87AD;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
}

/*----------------------------------------
Labels
-------------------------------------------*/

.premium-label:hover { cursor: default; }

.label {
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 3px 6px;
}

.label-success {
    border-color: #5AAD34;
    background-color: #78CD51;
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, hsl(101, 54%, 71%)), color-stop(100%, hsl(101, 55%, 56%)));
    background-image: -webkit-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -moz-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -ms-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: -o-linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
    background-image: linear-gradient(top, hsl(101, 54%, 71%), hsl(101, 55%, 56%));
}

.basic-label { position: absolute; top: 14px; left: 385px; cursor: default; text-shadow: 0 -1px 1px rgba(0, 0, 0, 0.15);
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 12px;
    padding: 3px 6px; }

/*----------------------------------------
Tipsy
-------------------------------------------*/

.tooltip-info { cursor:help; margin: -3px 0 0 5px; position: relative; top: 3px; }

.tipsy { font-size: 10px; position: absolute; padding: 5px; z-index: 100000; }

.tipsy-inner { background-color: #000; color: #FFF; max-width: 200px; padding: 5px 8px 4px 8px; text-align: center; }

/* Rounded corners */
.tipsy-inner { border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; }

/* Uncomment for shadow */
/*.tipsy-inner { box-shadow: 0 0 5px #000000; -webkit-box-shadow: 0 0 5px #000000; -moz-box-shadow: 0 0 5px #000000; }*/

.tipsy-arrow { position: absolute; width: 0; height: 0; line-height: 0; border: 5px dashed #000; }

/* Rules to colour arrows */
.tipsy-arrow-n { border-bottom-color: #000; }

.tipsy-arrow-s { border-top-color: #000; }

.tipsy-arrow-e { border-left-color: #000; }

.tipsy-arrow-w { border-right-color: #000; }

.tipsy-n .tipsy-arrow { top: 0px; left: 50%; margin-left: -5px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }

.tipsy-nw .tipsy-arrow { top: 0; left: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }

.tipsy-ne .tipsy-arrow { top: 0; right: 10px; border-bottom-style: solid; border-top: none; border-left-color: transparent; border-right-color: transparent; }

.tipsy-s .tipsy-arrow { bottom: 0; left: 50%; margin-left: -5px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }

.tipsy-sw .tipsy-arrow { bottom: 0; left: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }

.tipsy-se .tipsy-arrow { bottom: 0; right: 10px; border-top-style: solid; border-bottom: none; border-left-color: transparent; border-right-color: transparent; }

.tipsy-e .tipsy-arrow { right: 0; top: 50%; margin-top: -5px; border-left-style: solid; border-right: none; border-top-color: transparent; border-bottom-color: transparent; }

.tipsy-w .tipsy-arrow { left: 0; top: 50%; margin-top: -5px; border-right-style: solid; border-left: none; border-top-color: transparent; border-bottom-color: transparent; }